

body {
    margin:0;
    background-color: rgb(255, 0, 128);

}

.title{
    text-align: left;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: fit-content;
    height: auto;
    padding: 10%;
    border: 10px;
    margin: 10px auto;
    line-height: 1.5em;
}

.green{
    text-align: left;
    color: rgb(17, 40, 0);
    background-color: rgb(115, 255, 0);
    box-sizing: border-box;
    width: fit-content;
    height: auto;
    padding: 10%;
    border: 10px;
    margin: 10px auto;
    line-height: 1.5em;
}

.blue{
    text-align: left;
    color: rgb(101, 242, 255);
    background-color: rgb(30, 0, 255);
    box-sizing: border-box;
    width: fit-content;
    height: auto;
    padding: 10%;
    border: 10px;
    margin: 10px auto;
    line-height: 1.5em;
}

.response {
    background-color: rgba(255, 182, 193, 0.6);
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    width:auto;
    height:auto;
    padding:30px;
    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align:justify;
    line-height: 1.5em;
    border-radius: 3%;
    align-items: center;
}

.response2 {
    background-color: rgba(173, 255, 135, 0.6);
    box-sizing: content-box;
    color: rgb(17, 40, 0);
    width:auto;
    height:auto;
    padding:30px;
    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align:justify;
    line-height: 1.5em;
    border-radius: 3%;
    align-items: center;
}

.response3 {
    background-color: rgba(84, 170, 250, 0.6);
    box-sizing: content-box;
    color: rgb(101, 242, 255);
    width:auto;
    height:auto;
    padding:30px;
    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align:justify;
    line-height: 1.5em;
    border-radius: 3%;
    align-items: center;
}

.author{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.a {
    text-decoration: none;
    color: white;
}

.a2 {
    text-decoration: none;
    color: rgb(17, 40, 0);
}

.a3 {
    text-decoration: none;
    color: rgb(101, 242, 255);
}

.position{
    display: flex;
    justify-content: space-between;
    width: 100%;
}